page-cart {
  .cart-page-style {
    background-color: white;
  }

  .toggle-all-icon {
    float: right;
    padding-left: 10px;
    color: gray;
  }

  .cart-empty-div {
    padding: 30px;
    text-align: center;
  }

  .cart-empty-icon {
    font-size: 150px;
    color: gray
  }

  .cart-empty-content {
    padding-top: 10px;
    color: gray;
    font-size: 20px;
  }

  .cart-item-style {
    .cart-item-card {
      border-bottom: 2px solid lightgrey
    }

    .sub-item {
      font-size: 80%;
      color: #828080
    }

    .item-veg {
      color: green;
    }

    .item-non-veg {
      color: red;
    }

    .before-discount-price {
      color: #828080;
      text-decoration: line-through;
      padding-right: 5px;
    }

    .my-date-style {
      color: orangered;
      padding: 15px;
      padding-bottom: 20px !important;
      font-size: 150%;
      padding-bottom: 10px;
      border-bottom: 2px solid lightgrey
    }

    .my-date-drop-icon {
      float: right;
      padding-right: 10px;
      color: gray
    }

    .cart-item-div {
      padding: 15px;
    }

    .cart-price {
      font-size: 1.0em;
      width: 100%;
      padding-left: 5%;
      text-align: right;
    }

    .cart-description {
      font-size: 1.0em;
      width: 100%;
      text-align: left;
    }

    .add-to-cart {
      padding-left: 20px;
      padding-right: 5px;
      text-align: right;
      font-size: large;
    }

    .remove-from-cart {
      padding-right: 20px;
      padding-left: 5px;
      text-align: left;
      font-size: 25px;
    }

    .add-remove-cart-button {
      padding: 0;
    }

    .cart-quant {
      width: 20px;
    }
  }

  .cart-bill-style {
    .cart-bill-card {
      background-color: white;
      padding-top: 5%;
      padding-bottom: 5%;
    }

    .cart-price {
      font-size: 1.0em;
      width: 100%;
      padding-left: 5%;
      text-align: right;
    }

    .cart-description {
      font-size: 1.0em;
      width: 100%;
      text-align: left;
    }
  }
}
