<ion-header>
    <ion-navbar>
        <ion-title>
            My Addresses
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="cards-bg">
    <ion-card>
        <ion-card-header>
            Home <ion-badge item-end>Default</ion-badge>
            <ion-icon name="create" (click)="editAddress()"></ion-icon>
        </ion-card-header>
        <ion-card-content>
            A 208 Balaji Eternal Bliss Vijaynagar Whitefield Bangalore 560066
            <address-form *ngIf="isEditClicked"></address-form>
        </ion-card-content>
    </ion-card>
    <ion-card>
            <ion-card-header>
                Office
                    <ion-icon name="create" (click)="editAddress()"></ion-icon>
            </ion-card-header>
            <ion-card-content>
                The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
            </ion-card-content>
        </ion-card>
        <ion-card>
                <ion-card-header>            Others <ion-icon name="create" (click)="editAddress()"></ion-icon>
                </ion-card-header>
                <ion-card-content>
                    The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
                </ion-card-content>
            </ion-card>
</ion-content>