page-payment {
  .payment-style {
  }

  .payment-header {
    font-size: 105%;
    font-weight: 400;
  }

  .payment-content {
    padding: 10px;
  }

  .payment-div {
    padding: 20px;
    border-bottom: 2px solid #d8d0d0
  }

  .outstanding-bal {
    background-color: #faf2f9
  }
}
