page-account {
    .list-md{
        margin: 73px 0 16px;
    }
    .divFont{
      font-size: 2.2rem;
    }
    .logOutCustom{
      margin-top: 0;
    }
}

ion-modal.user-modal ion-backdrop {
    visibility: visible !important;
    z-index: 0;
  }
  
  ion-modal.modal-halfscreen ion-backdrop {
    visibility: visible !important;
    z-index: 0;
  }
  
  ion-modal.modal-halfscreen .modal-wrapper {
    bottom: 0%;
    width: 100%;
    height: 250px;
    position: absolute;
  }

  ion-modal ion-content div.scroll-content{
    overflow-x: unset;
    overflow-y: unset;
  }
